/*------------------------------------------------------------------
Copyright 2021 By: RPL SMKN 1 JAKARTA

Project		:	Maritime Explore
Created	    :	19/02/2021
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Isi]

0. Default
1. Nav
2. Content
3. Sidebar
4. Rekomendasi
5. Footer
6. Copyright
-------------------------------------------------------------------*/



@media only screen and (max-width: 576px) { 
    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/
    #content, #rekomendasi, .footer {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }
    
    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        background: linear-gradient(143.38deg, rgba(33, 168, 251, 0.58) 4.22%, rgba(33, 168, 251, 0) 146.37%) !important;
        height: unset;
        padding-right: 1rem !important;
        padding-left: 0rem !important;
    }

    .navbar-collapse {
        background: #FFFFFF;
    }
    
    nav img {
        padding-left: 1rem !important;
    }
    
    nav a {
        font-size: 14px !important;
    }

    nav ul li {
        margin: 0px !important;
    }

    nav .mobile {
        display: unset !important;
    }
    
    nav #button {
        display: none;
    }

    #nav-home {
        border-bottom: 0px solid #21A8FB;
        border-radius: 0px;
    }

    /*-------------------------------------------------------------------
    [2. Content]
    *------------------------------------------------------------------*/
    #content {
        margin-top: 2rem;
    }

    #content h1 {
        font-size: 18px !important;
        line-height: 34px !important;
    }

    #content p {
        font-size: 14px !important;
    }

    #content #judul-img {
        height: 250px !important;
        border-radius: 0;
        margin-bottom: 1rem !important;
    }

    /*-------------------------------------------------------------------
    [3. Sidebar]
    *------------------------------------------------------------------*/
    #sidebar {
        padding: 0rem 1rem !important;
    }
    
    #sidebar h4, #sidebar #category a {
        font-size: 12px;
    }

    /*-------------------------------------------------------------------
    [4. Rekomendasi]
    *------------------------------------------------------------------*/
    #rekomendasi img {
        height: 200px;
    }

    /*-------------------------------------------------------------------
    [5. Footer]
    *------------------------------------------------------------------*/
    .footer {
        margin-top: 3rem;
        padding-bottom: 0px !important;
    }

    .footer, .footer .col-sm-5, .footer .col, .footer h3, .footer p {
        width: 100%;
    }
    
    .footer .col-sm-5 {
        display: unset !important;
    }

    .footer .col {
        display: none;
    }
    
    .footer img:nth-child(1) {
        display: none;
    }

    .footer img:nth-child(2) {
        display: unset;
        margin: auto;
        display: flex;
        justify-content: center;
    }

    .footer h3, .footer h3 {
        margin-top: 30px !important;
    }
 
    #accordion {
        display: unset;
    }

    #collapseFour img {
        display: unset !important;
    }
      
    #collapseFour .d-flex p {
        width: unset !important;
        margin-right: 0px !important;
    }

    #collapseFour .d-flex {
        justify-content: space-around;
    }
    
    /*-------------------------------------------------------------------
    [6. copyright]
    *------------------------------------------------------------------*/
    .copyright span {
        font-size: 12px;
    }
}