/*------------------------------------------------------------------
Copyright 2021 By: RPL SMKN 1 JAKARTA

Project		:	Maritime Explore
Created	    :	19/02/2021
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Hero
3. Features
4. New Release
5. About
6. Trending
7. Footer
-------------------------------------------------------------------*/



@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        background: #FFFFFF !important;
    }

    /*-------------------------------------------------------------------
    [2. Hero]
    *------------------------------------------------------------------*/
    #hero h1 {
        font-size: 50px;
        line-height: 60px;
        margin-top: 50px;
    }

    #hero p {
        font-size: 14px;
        line-height: 26px;
    }

    /*-------------------------------------------------------------------
    [3. Features]
    *------------------------------------------------------------------*/
    #features .card-deck {
        margin: auto;
        justify-content: space-evenly !important;
    }

    #features h2 {
        margin-left: 0rem;
    }

    /*-------------------------------------------------------------------
    [4. New Release]
    *------------------------------------------------------------------*/
    #new-release .card-deck {
        margin: auto;
        justify-content: space-evenly !important;
    }

    #new-release .card-deck .card {
        flex: unset !important;  
    }

    #new-release .card {
        height: 250px;
    }

    #new-release .stretched-link {
        height: 40px;
    }

    /*-------------------------------------------------------------------
    [5. About]
    *------------------------------------------------------------------*/
    .about .col:nth-child(1) {
        padding-right: 5rem !important;
    }

    .about img {
        width: 100%;
        height: 100%;
    }

    /*-------------------------------------------------------------------
    [6. Trending]
    *------------------------------------------------------------------*/
    .trending .card {
        height: 224px;
    }

    .trending h3 {
        font-size: 28px;
    }

    /*-------------------------------------------------------------------
    [7. Footer]
    *------------------------------------------------------------------*/
    .footer img:nth-child(2) {
        display: none;
    }

    #accordion {
        display: none;
    }
    
    .about .media {
        margin-bottom: 2rem;
    }
}