/*------------------------------------------------------------------
Copyright 2021 By: RPL SMKN 1 JAKARTA

Project		:	Maritime Explore
Created	    :	19/02/2021
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Hero
3. Features
4. New Release
5. About
6. Covid
7. Trending
8. Footer
9. Copyright
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
[0. Default]
*------------------------------------------------------------------*/
@font-face {
    font-family: 'Poppins'; 
	src: url('../font/Poppins.woff2');
}

@font-face {
    font-family: 'Montserrat'; 
	src: url('../font/Montserrat.woff2');
}

html, body {
    margin: 0;
    padding: 0;
	background: #FFFFFF !important;
	overflow-x: hidden;
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
}

#hero h1, #hero p, #features h2, #new-release h2, #features p, .about h2, .covid b,
.covid span {
	font-family: 'Montserrat', sans-serif !important;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, 
.col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, 
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-brand {
    margin-right: 0px !important;
}

.slick-prev:before {
	font-family: unset !important;
	content: "<" !important;
	font-size: 30px !important;
}

.slick-next:before {
	font-family: unset !important;
	content: ">" !important;
	font-size: 30px !important;
}

nav, #hero, #features, #new-release, .about, .covid  {
	padding-right: 5rem !important;
	padding-left: 5rem !important;
}



/*-------------------------------------------------------------------
[1. Nav]
*------------------------------------------------------------------*/
nav {
    display: flex;
    background: #FFFFFF;
	height: 100px;
	transition: 0.3s ease-in-out;
}

nav button {
	border: none !important;
}

nav button:focus {
	outline: none !important;
}

nav ul li {
    margin: 0px 10px !important;
}

nav ul li a {
    font-size: 18px;
	color: #000000 !important;
}

nav img {
    width: 45px;
}

nav #button { 
	width: 123px !important;
	background: #21A8FB;
	box-shadow: 3px 3px 4px rgba(176, 225, 255, 0.9);
	border-radius: 10px !important;
	height: 49px;
    font-weight: bold;
    cursor: pointer;
	overflow:hidden;
	box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
	color: #FFFFFF;
	text-align: center;
	font-size: 18px !important;
	font-weight: normal;
}

#nav-home {
	border-bottom: 2px solid #21A8FB;
	border-radius: 1px;
	border-width: medium;
	font-weight: 500 !important;
}

@media only screen and (max-width: 576px) {
	#navbarSupportedContent {
	  position: fixed;
	  top: 0;
	  z-index: 99;
	  width: 280px;
	  height: 100%;
	  overflow: auto;
	  padding: 1rem 0.5rem !important;
	}
	.menu-overlay {
	  display: none;
	  background: #000;
	  bottom: 0;
	  left: 0;
	  opacity: 0.5;
	  filter: alpha(opacity=50);
	  position: fixed;
	  right: 0;
	  top: 0;
	  z-index: 49;
	}
}



/*-------------------------------------------------------------------
[2. Hero]
*------------------------------------------------------------------*/
#hero {
	background: url('../image/hero-bg.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
	background-size: cover;
	height: 85vh !important;
	padding-top: 50px !important;
}

#hero h1 {
	color: #012A4A;
	font-weight: 600 !important;
	font-size: 60px;
	line-height: 80px;
	margin-top: 130px;
	margin-bottom: 40px;
}

#blue-border {
	width: 115px;
	height: 8px;
	background: #21A8FB;
	border-radius: 5px;
	margin-bottom: 2rem;
}

#hero p {
	color: #ACA7A7;
	font-weight: 400;
	font-size: 15px;
	line-height: 36px;
	margin-bottom: 30px;
}

#hero button {
	background: #21A8FB;
	border-radius: 10px;
	height: 50px;
	padding: 0px 30px;
	font-weight: 500;
	color: #FFFFFF;
}

#hero button:hover {
	color: #FFFFFF !important;
}



/*-------------------------------------------------------------------
[3. Features]
*------------------------------------------------------------------*/
#features {
	margin-top: 3rem;
}

#features .card-deck {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: auto;
	justify-content: space-evenly !important;
}

#features h2 {
	color: #012A4A;
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 2rem;
	margin-left: 8rem;
}

#features .card {
	background: #FFFFFF;
	box-shadow: 0px 0px 5px 1px #EEEEEE;
	border-radius: 20px;
	border: none;
	width: 260px;
	height: 246px;
	transition: 0.2s ease-in-out !important;
}

#features #market:hover, #features #healthy:hover, #features #education:hover, #features #tourist:hover {
	background: rgba(33, 168, 251, 0.1);
}

#features .card-body {
	flex: unset !important;
	align-items: center;
	justify-content: center;
	padding: 0px !important;
}

#features a:hover {
	text-decoration: none;
}

#features img {
	height: 80px;
	display: flex;
	justify-content: center;
	margin: auto;
}

#features p {
	color: #000000;
	font-size: 24px;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px !important;
}



/*-------------------------------------------------------------------
[4. New Release]
*------------------------------------------------------------------*/
#new-release {
	margin-top: 10rem;
}

#new-release h2 {
	color: #012A4A;
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 2rem;
}

#new-release .card-deck {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin: auto;
	justify-content: space-evenly !important;
}

#card-new-release {
	width: 23%;
	height: 400px;
}

#new-release .card {
	width: 100%;
	height: 100%;
	border: none;
	cursor: pointer;
	border-radius: 32px !important;
	position: relative;
	box-shadow: 0px 0px 5px 1px #EEEEEE;
	transition: 0.3s ease-in-out;
}

#new-release .card:hover {
	box-shadow: 0px 0px 15px 1px #E0DADA;
}

#new-release img {
	width: 100%;
	height: 100%;
}

#new-release .stretched-link {
	background: #8080FF;
	border-bottom-left-radius: 40px;
	width: 60%;
	height: 50px;
	position:absolute;
	right: 0px;
	top: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

#new-release .stretched-link p {
	color: #FFFFFF;
	padding: 0 !important;
	margin: 0 !important;
}

#new-release .stretched-link:hover {
	text-decoration: none;
}

#new-release #no-available {
	font-size: 16px;
}



/*-------------------------------------------------------------------
[5. About]
*------------------------------------------------------------------*/
.about {
	margin-top: 10rem;
}

.about h2 {
	color: #012A4A;
	font-weight: 600;
	font-size: 32px;
	line-height: 39px;
	margin-top: 1.5em;
	margin-bottom: 3rem;
}

.about p {
	font-size: 16px;
	color: #0F1837;
	margin-left: 1rem;
	margin-bottom: 0 !important;
}

.about img {
	width: 70%;
	height: 100%;
	margin: auto;
	display: flex;
	justify-content: center;
}

#box {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	background: rgba(33, 168, 251, 0.26);
	border-radius: 4px;
}

.about .media {
	display: flex;
	align-items: center;
	margin-left: 2rem;
	margin-bottom: 3rem;
}



/*-------------------------------------------------------------------
[6. Covid]
*------------------------------------------------------------------*/
.covid {
	margin-top: 10rem;
}

.covid img {
	width: 100%;
	margin-top: 5rem;
}

.covid .row {
	margin-top: 7rem;
	justify-content: space-evenly;
}

.covid .col-md-auto {
	border-right: 3px solid #C4C4C4;
	border-left: 3px solid #C4C4C4;
	padding: 30px 40px !important;
	margin-top: -30px !important;
}

.covid h2 {
	margin-bottom: 2rem;
}

.covid b {
	font-weight: 600 !important; 
	font-size: 32px;
	color: #012A4A;
}

.covid span {
	font-weight: 600;
	font-size: 24px;
	text-align: center;
	color: #C4C4C4;
}



/*-------------------------------------------------------------------
[7. Trending]
*------------------------------------------------------------------*/
.trending {
	margin-top: 5rem;
    padding: 5rem !important;
}

.trending a {
	padding: 0rem 1rem !important;
}

.trending .card {
	height: 324px;
	box-shadow: 0px 0px 4px 1px #f1f1f1;
	border-radius: 30px;
}

.trending .card-img-overlay {
	display: flex;
	justify-content: center;
	align-items: center;
}

.trending h2 {
	font-weight: 600 !important;
	font-size: 32px;
	line-height: 39px;
	color: #000000;
	margin-bottom: 5rem;
	text-align: center;
}

.trending h3 {
	font-weight: 600 !important;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
	color: #000000;
}

.trending a:hover {
	text-decoration: none;
}



/*-------------------------------------------------------------------
[8. Footer]
*------------------------------------------------------------------*/
.footer {
	margin-top: 5rem;
	padding: 50px;
	border: 1px solid rgba(229, 229, 229, 0.7);
}

.footer .col-sm-5 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer h3 {
	font-weight: 600;
	font-size: 16px;
	color: #012A4A;
	margin-bottom: 1.5rem;
}

.footer a {
	font-size: 14px;
	color: #012A4A;
}

.footer a:hover {
	text-decoration: none;
	color: inherit;
}

.footer img:nth-child(2) {
	display: none;
}

#accordion {
	padding: 2rem;
	width: 100%;
	display: none;
}

#accordion .card, #accordion .card-header, #accordion .card-body {
	border: none !important;
	background: none !important;
	padding: 0px !important;
}

#accordion .card-header {
	margin-bottom: 1rem;
}

#accordion .btn {
	display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
	color: inherit !important;
	text-decoration: none !important;
	padding: 0px !important;
}

.footer h5 {
	font-weight: 600 !important;
	font-size: 18px;
	color: #000000;
}

.footer .col .d-flex p {	
	margin-right: 20px;
}

.card-header .icon-chevron-thin-down {
	transform: rotate(180deg);
	transition: .3s transform ease-in-out;
}

.card-header .collapsed .icon-chevron-thin-down {
	transform: rotate(0deg);
}



/*-------------------------------------------------------------------
[9. Copyright]
*------------------------------------------------------------------*/
.copyright {
	padding: 2rem;
}

.copyright span {
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: #8A8C97;
}