/*------------------------------------------------------------------
Copyright 2021 By: RPL SMKN 1 JAKARTA

Project		:	Maritime Explore
Created	    :	19/02/2021
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Isi]

0. Default
1. Nav
2. Footer
-------------------------------------------------------------------*/



@media only screen and (min-width: 1024px) and (max-width: 1366px) {

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        background: #FFFFFF !important;
    }

    /*-------------------------------------------------------------------
    [2. Footer]
    *------------------------------------------------------------------*/
    .footer img:nth-child(2) {
        display: none;
    }
}