/*------------------------------------------------------------------
Copyright 2021 By: RPL SMKN 1 JAKARTA

Project		:	Maritime Explore
Created	    :	19/02/2021
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Isi]

0. Default
1. Nav
2. Content
3. Footer
4. Copyright
-------------------------------------------------------------------*/




@media only screen and (max-width: 414px) { 
/*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/
    nav, .content, .footer {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    h2 {
        font-size: 18px !important;
    }

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        background: #FFFFFF !important;
        height: unset;
    }

    nav img {  
        width: 35px !important;
    }

    nav a {
        font-size: 14px !important;
    }

    nav ul li {
        margin: 0px !important;
    }

    nav #button {
        width: unset !important;
        height: 100% !important;
        padding: 0px;
        box-shadow: none;
        background: none;
        border-radius: 0px !important;
        border-top: 2px solid#C4C4C4;
        font-size: 14px !important;
        color: #000000;
        text-align: start;
        padding-top: 10px;
    }

    /*-------------------------------------------------------------------
    [2. Content]
    *------------------------------------------------------------------*/
    .content .card-deck {
        flex-direction: unset !important;
        justify-content: center !important;
    }

    .content h2 {
        font-size: 15px;
    }

    .content p {
        font-size: 14px;
    }

    .content a {
        width: 40% !important;
        margin: 0px 15px !important;
    }

    /*-------------------------------------------------------------------
    [3. Footer]
    *------------------------------------------------------------------*/
    .footer {
        margin-top: 3rem;
    }

    .footer, .footer .col-sm-5, .footer .col, .footer h3, .footer p {
        width: 100%;
    }

    
    .footer .col-sm-5 {
        display: unset !important;
    }

    .footer .col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: unset !important;
    }
    
    .footer img:nth-child(1) {
        display: none;
    }

    .footer img:nth-child(2) {
        display: unset;
    }

    .footer h3, .footer h3 {
        margin-top: 30px !important;
    }
    
    /*-------------------------------------------------------------------
    [4. copyright]
    *------------------------------------------------------------------*/
    .copyright span {
        font-size: 12px;
    }

}


@media only screen and (max-width: 576px) { 

    /*-------------------------------------------------------------------
    [0. Default]
    *------------------------------------------------------------------*/
    nav, .content, .footer {
        padding-right: 1rem !important;
        padding-left: 1rem !important;
    }

    h2 {
        font-size: 18px !important;
    }

    /*-------------------------------------------------------------------
    [1. Nav]
    *------------------------------------------------------------------*/
    nav {
        display: flex;
        background: #FFFFFF !important;
        height: unset;
    }

    nav img {  
        width: 35px !important;
    }

    nav a {
        font-size: 14px !important;
    }

    nav ul li {
        margin: 0px !important;
    }

    nav #button {
        width: unset !important;
        height: 100% !important;
        padding: 0px;
        box-shadow: none;
        background: none;
        border-radius: 0px !important;
        border-top: 2px solid#C4C4C4;
        font-size: 14px !important;
        color: #000000;
        text-align: start;
        padding-top: 10px;
    }

    /*-------------------------------------------------------------------
    [2. Content]
    *------------------------------------------------------------------*/
    .content .card-deck {
        flex-direction: unset !important;
        justify-content: center !important;
    }

    .content h2 {
        font-size: 15px;
    }

    .content p {
        font-size: 14px;
    }

    .content a {
        width: 40% !important;
        margin: 0px 15px !important;
    }

    /*-------------------------------------------------------------------
    [3. Footer]
    *------------------------------------------------------------------*/
    .footer {
        margin-top: 3rem;
    }

    .footer, .footer .col-sm-5, .footer .col, .footer h3, .footer p {
        width: 100%;
    }

    
    .footer .col-sm-5 {
        display: unset !important;
    }

    .footer .col {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-basis: unset !important;
    }
    
    .footer img:nth-child(1) {
        display: none;
    }

    .footer img:nth-child(2) {
        display: unset;
    }

    .footer h3, .footer h3 {
        margin-top: 30px !important;
    }
    
    /*-------------------------------------------------------------------
    [4. copyright]
    *------------------------------------------------------------------*/
    .copyright span {
        font-size: 12px;
    }
}