/*------------------------------------------------------------------
Copyright 2021 By: RPL SMKN 1 JAKARTA

Project		:	Maritime Explore
Created	    :	19/02/2021
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
[Judul]

0. Default
1. Nav
2. Content
3. Footer
4. Copyright
-------------------------------------------------------------------*/



/*-------------------------------------------------------------------
[0. Default]
*------------------------------------------------------------------*/
@font-face {
    font-family: 'Poppins'; 
	src: url('../../font/Poppins.ttf');
}


html, body {
    margin: 0;
    padding: 0;
	background: #FFFFFF !important;
	overflow-x: hidden;
	font-family: 'Poppins',sans-serif !important;
}

* {
    box-sizing: border-box !important;
    margin: 0;
    padding: 0;
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, 
.col-11, .col-12, .col-auto, .col-lg, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, 
.col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-auto, .col-md, .col-md-1, .col-md-2, .col-md-3, .col-md-4, 
.col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md-auto, .col-sm, .col-sm-1, 
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, 
.col-sm-auto, .col-xl, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, 
.col-xl-10, .col-xl-11, .col-xl-12, .col-xl-auto {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.navbar-brand {
    margin-right: 0px !important;
}

.block {
	width: 100%;
	height: 100px;
}

nav, .content {
	padding-right: 5rem !important;
	padding-left: 5rem !important;
}



/*-------------------------------------------------------------------
[1. Nav]
*------------------------------------------------------------------*/
nav {
    display: flex;
    background: #FFFFFF !important;
	height: 100px;
}

nav button {
	border: none !important;
}

nav button:focus {
	outline: none !important;
}

nav ul li {
    margin: 0px 10px !important;
}

nav ul li a {
    font-size: 18px;
    color: #000000 !important;
}

nav img {
    width: 45px;
}

nav #button { 
	padding: 0 !important;
	margin: 0 !important;
	background: none !important;
	cursor: pointer;
}



/*-------------------------------------------------------------------
[2. Content]
*------------------------------------------------------------------*/
.content {
    margin-top: 5rem;
}

.content h1 {
    font-weight: 600;
    font-size: 36px;
    color: #012A4A;
}

.content h2 {
    font-weight: 500;
    font-size: 20px;
    color: #000000;
}

.content p {
    font-weight: 300;
    font-size: 18px;
    color: #999999;
}

.content a {
    width: 25%;
    border-radius: 42px !important;
}

.content a:hover {
    text-decoration: none;
    color: #000000;
}

.content .card {
    border: none;
    border-radius: 42px !important;
}

.content img {
    border-radius: 42px !important;
    width: 100%;
}


/*-------------------------------------------------------------------
[3. Footer]
*------------------------------------------------------------------*/
.footer {
	margin-top: 5rem;
	padding: 50px;
	border: 1px solid rgba(229, 229, 229, 0.7);
}

.footer .col-sm-5 {
	display: flex;
	justify-content: center;
	align-items: center;
}

.footer h3 {
	font-weight: 600;
	font-size: 16px;
	color: #012A4A;
	margin-bottom: 1.5rem;
}

.footer a {
	font-size: 14px;
	color: #012A4A;
}

.footer a:hover {
	text-decoration: none;
	color: inherit;
}

.footer img:nth-child(2) {
	display: none;
}



/*-------------------------------------------------------------------
[4. Copyright]
*------------------------------------------------------------------*/
.copyright {
	padding: 2rem;
}

.copyright span {
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: #8A8C97;
}